<entity>
	<Orientation>132730000,35010000,1260000,0,-30</Orientation>
	<CenterX>0</CenterX>
	<CenterY>0</CenterY>

	<Server>localhost:8080</Server>
	<NumMapDataServers>1</NumMapDataServers>
	<MapDataSvr1>localhost:8080</MapDataSvr1>
	<MapJp2Store1>/Ptolemy_test/jp2base/</MapJp2Store1>
	<MapDemStore1>/Ptolemy_test/jp2base/</MapDemStore1>
	<MUrlAppend1>&amp;streamID=class64</MUrlAppend1>
	<MServerKey1></MServerKey1>

	<TileColor>47,47,86</TileColor>
	<Area>00</Area>
	<Horizon>10000</Horizon>
	<FlightFrameDelay>200</FlightFrameDelay>
	<TIN>0</TIN>
	<FollowDEM>0</FollowDEM>
	<BackgroundColor>0,0,0</BackgroundColor>

	<NumLayers>5</NumLayers>

	<LayerWidth_1>52428800</LayerWidth_1>
	<LayerDEM_1>9</LayerDEM_1>
	<LayerMin_1>400000</LayerMin_1>
	<LayerMax_1>10000000</LayerMax_1>
	<LayerDivider_1>0</LayerDivider_1>

	<LayerWidth_2>6553600</LayerWidth_2>
	<LayerDEM_2>9</LayerDEM_2>
	<LayerMin_2>200000</LayerMin_2>
	<LayerMax_2>5000000</LayerMax_2>
	<LayerDivider_2>0</LayerDivider_2>

	<LayerWidth_3>819200</LayerWidth_3>
	<LayerDEM_3>9</LayerDEM_3>
	<LayerMin_3>100000</LayerMin_3>
	<LayerMax_3>250000</LayerMax_3>
	<LayerDivider_3>0</LayerDivider_3>
	
	<LayerWidth_4>102400</LayerWidth_4>
	<LayerDEM_4>9</LayerDEM_4>
	<LayerMin_4>20000</LayerMin_4>
	<LayerMax_4>100000</LayerMax_4>
	<LayerDivider_4>0</LayerDivider_4>

	<LayerWidth_5>12800</LayerWidth_5>
	<LayerDEM_5>9</LayerDEM_5>
	<LayerMin_5>0</LayerMin_5>
	<LayerMax_5>10000</LayerMax_5>
	<LayerDivider_5>0</LayerDivider_5>
	
	<NumPlugins>2</NumPlugins>

	<PluginType_1>org.ptolemy3d.plugin.IconPlugin</PluginType_1>
	<PluginParam_1>/Ptolemy_test/new.png,40,0</PluginParam_1>
	
	<PluginType_2>org.ptolemy3d.plugin.CityGmlPlugin</PluginType_2>
	<PluginParam_2>100000,http://localhost:8080/openbd/CFML/pseudoWFS/wfs.cfm?SERVICE=wfs&amp;REQUEST=GetFeature&amp;bbox=-180,-90,180,90</PluginParam_2>
	<!-- <PluginParam_2>/Ptolemy_test/SimpleLOD1Buildings.gml</PluginParam_2> -->
	
	<!--
	Query to GeoServer. SRSNAME is special GS vendor parameter to reproject in WFS version 1
	see: http://geoserver.org/display/GEOSDOC/WFS+vendor+parameters
	http://localhost:8080/geoserver/wfs?SERVICE=WFS&VERSION=1.0.0&REQUEST=getfeature&TYPENAME=nyc_buildings&SRSNAME=EPSG:4326 
	 -->
	
	
</entity>