@charset "utf-8";
/* CSS Document */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:12pt;
    font-weight:normal;
    color:#333333;
}

.title {
    font-size:18pt;
    font-weight:bold;
    color:#669933;
}
.subtitle {
    font-size:14pt;
    font-weight:normal;
    color:#99CC33;
}

.footer p {
    color:#333333;
    font-size:12px;
    text-align:center;
}

.maincontainer{
    margin-top: 15px;
}

.map3dcontainer{
    border:#999999 solid 1px;
    width: auto;
    height: 400px;
}

.api_accordion{
    margin: 0;
    padding:0;
    width: auto;
}

.code_window{
    margin: 0;
    padding:0;
    width:auto;
}

li a  {    
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 8pt;
    color: gray;
    text-decoration:none;
}

textarea {
 
  font-family: 'Courier New',Courier,monospace;
  font-size: 8pt;
  color: gray;
}
